.no-bullet {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.list-img {
    width: 80%;
    margin-left: 15%;
}

li {
    margin-top: 2%
}